/* 기본 화면 */
body {
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;

  /* 배경 이미지 */
  background-image: url("cdcase.png");

  /* 화면 꽉 채우기 */
  background-size: cover;

  /* 가운데 정렬 */
  background-position: center;

  /* 반복 금지 */
  background-repeat: no-repeat;

  /* 배경 고정 */
  background-attachment: fixed;
}

/* 가로 스크롤 영역 */
.scroll-container {
  width: 16000px;
  height: 100vh;
  position: relative;

  animation: scrollMove 20s linear infinite; /* 자동 흐름 추가 */
}
@keyframes scrollMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1500px);
  }
}

/* 오선 전체 */
.staff {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 오선 한 줄 */
.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);

  margin-top: 70px;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45%;
  transform: translateY(-50%); /* 가운데 기준 */
  height: 60vh; /* 👉 화면의 60% = 오선보다 큼 */
  width: auto;

  transition: transform 0.3s;
}

/* hover 효과 */
.logo:hover {
  transform: translateY(-50%) scale(1.1);
}
/* hover 없는 고정 로고 */
.logo-static {
  position: absolute;

  top: 45%;
  transform: translateY(-50%);

  height: 60vh;
  width: auto;
}
/* 오선만 따로 위치 조절 */
.staff-lines {
  position: relative;
  top: 120px; /* 숫자 올리면 더 아래 */
}